.register {
    position: relative;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    text-align: center;
    background: linear-gradient(
        to bottom right,
        rgb(0, 204, 240),
        rgb(6, 236, 6)
    );
}

.register-box {
    position: absolute;
    top: 25%;
    left: 25%;
    right: 25%;
    transform: translateY(-25%);
    margin: auto;
    text-align: center;
    background-color: white;
    width: 450px;
    height: 450px;
    border-radius: 10px;
    box-shadow: 5px 5px rgb(209, 209, 209);
}

.register-box-info {
    margin-top: 10%;
}

.register-box-title {
    margin-bottom: 5%;
}

.register-box-input {
    margin-bottom: 3%;
}

.register-box-input-style {
    width: 75%;
    height: 35px;
    border-radius: 10px;
    border-color: rgb(209, 209, 209);
    padding-left: 10px;
}

.register-button {
    border-radius: 10px;
    border-color: rgb(209, 209, 209);
    width: 20%;
    height: 25px;
}

.register-button-text {
    font-weight: bold;
}

.register-account-question {
    margin-top: 7%;
}
